.motumb-btn {
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 3px #6495ED;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #6495ED;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 40px;
    position: relative;
    transition: 0.2s ease all;
    transform-origin: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    span {
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background: #FFE74C;
        transition: 0.35s ease all;
        transition-delay: 0.1s;
      }
      &:first-child {
        &:before, &:after {
          width: 0%;
          height: 3px;
        }
        &:before {
          top: 0;
          left: 0;
        }
        &:after {
          bottom: 0;
          left: 100%;
        }
      }
      &:last-child {
        &:before, &:after {
          width: 3px;
          height: 0%;
        }
        &:before {
          top: 0%;
          left: 0;
        }
        &:after {
          top: 100%;
          right: 0;
        }
      }
    } //end span
    &:before, &:after {
      content: '';
      display: block;
      width: 0%;
      height: 90%;
      background: #FFE74C;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
      transition: all 0.25s ease-in-out .2s;
      transition-delay: 0.5s;
    }
    &:after{
      background: #ffbf1e;
      transition: 0.25s ease-in-out .2s;
      transition-delay: 0.4s;
      width: 80%;
      left: -80%;
    }
    &:hover, &:active, &:focus {
      box-shadow: inset 0 0 0 0 #36213E;
      padding: 15px 50px;
      margin: -5px -10px;
      color: #36213E;
      &:before {
        width: calc(100% - 6px);
        left: 3px;
        box-shadow: inset 0 0 0 4px #36213E;
      }
      &:after {
        left: 100%;
        box-shadow: inset 0 0 0 3px white;
      }
      span {
        &:first-child {
          &:before, &:after {
            width: 100%;
          }
          &:before {
            top: 0;
            left: 0;
          }
          &:after {
            bottom: 0;
            left: 0;
          }
        }
        &:last-child {
          &:before, &:after {
            height: 100%;
          }
          &:before {
            top: 0;
            left: 0;
          }
          &:after {
            top: 0;
            right: 0;
          }
        }
      } //end span
    }
  }