.about {
  color: white;
}

.aboutMe {
  color: rgba(255, 255, 255, 0.308);
}

.middle {
  margin-top: 150px;
  /* display : grid; */
}

.strong {
  color: #4c51e0;
}

.slide {
  font-size: 75px;
}



/* .image { */
  /* border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 20px black inset; */
/* } */

.button-3 {
  border: 2px solid #3c73ff;
  background-color: Transparent;
  /* width:100px; */
  /* padding-left:25px; */
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
  font-family: "Press Start 2P", cursive;
  font-size: 27px;
}
.button-3:hover {
  box-shadow: 8px 8px#6165dd;
  transition: 0.3s;
}

.fof {
  display: table-cell;
  vertical-align: middle;
  font-size:15em;
}

.fof {
  font-size: 35px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}


@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
