/* BEGIN FOOTER */
.footer {
  /* Positioning for sticky footer */
  position: -webkit-sticky; 
    bottom: 0; 
  /* Box-model */
    width: 100%;
    /* height: 60px;  */
  /* Visual */
  /* grid-row-start: 2;
  grid-row-end: 3; */
  padding: 20px;
}
.text-muted-footer {
  /* Box-model */
  margin-top: 15px;
  /* Typography */
  color: #ffffff;
}
