.portfolio {
    color : white;
    font-size:22px;
    /* margin-left:60px; */
}

.big {
    /* border:1px solid red; */
    margin:30px;
}

.port {
    text-align : left;
    /* border:1px solid red; */
}

/* .boxy{
  /* border: 1px solid yellow; */


.fix-img{
    /* width:150px; */
    border: 1px solid #ddd;
}

.buttons{
    padding : 15px;
}

a {
    text-decoration: none;
  }
  
  .content {
    width: 520px;
    text-align: center;
    margin: 50px auto;
  }
  
  /* - - - - - - - - - - - - - - - - - - - - - - - - */

  .robo{
    font-family: "Press Start 2P", cursive;
    font-size:15px;
  }
  
  .buttoon {
    display: inline-block;
    width: 80px;
    padding: 10px 0;
    text-align: center;
    text-decoration:none;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 200;
    border: 2px solid  #4c51e0;
    position: relative;
    color:  #4c51e0;
    margin: 10px 5px 0 5px;
  
    -webkit-transition: 0.2s ease-in-out color;
    -o-transition: 0.2s ease-in-out color;
    -ms-transition: 0.2s ease-in-out color;
    -moz-transition: 0.2s ease-in-out color;
    transition: 0.2s ease-in-out color;
  }
  
  .buttoon::before {
    content: " ";
    display: block;
    text-decoration:none;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    top: -97px;
    background: #4c51e0;
    border-radius: 100%;
    z-index: -10;
    transform: scale(0);
  
    -webkit-transition: 0.4s ease-in-out transform;
    -o-transition: 0.4s ease-in-out transform;
    -ms-transition: 0.4s ease-in-out transform;
    -moz-transition: 0.4s ease-in-out transform;
    transition: 0.4s ease-in-out transform;
  }
  
  .buttoon:hover {
    color: #fff;
    text-decoration:none;
  }
  
  .buttoon:hover::before {
    transform: scale(1.5);
  }